<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778160595737-aauid3msd268baucs6ahme8fcftugj2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778160595737-aauid3msd268baucs6ahme8fcftugj2m</string>
	<key>API_KEY</key>
	<string>AIzaSyDgDqauFNrXwW6Eh9ssC3r4uZFclfmf76c</string>
	<key>GCM_SENDER_ID</key>
	<string>778160595737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Likeplay.network</string>
	<key>PROJECT_ID</key>
	<string>likeplay-b2fd1</string>
	<key>STORAGE_BUCKET</key>
	<string>likeplay-b2fd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778160595737:ios:c2341b40d1753e2c631b88</string>
</dict>
</plist>